label.st,input.st{
  display:  block;
  width:  150px;
  float:  left;
  margin-bottom: 10px;
}

label.st {
  text-align: right;
  width: 120px;
  padding-right: 20px;
  white-space:nowrap;
}

br.st{
  clear: left;
}

span.error{
  color:red;
}
div.sublecture{
  min-width: 100px;
  float: left;
  border: navy solid 1px;
  margin: 5 5 0 0;
  padding: 3;
}
.sublectureEntry{
  cursor: default;
}
.sublectureEntryOwn{
  cursor: default;
  font-weight: bold
}
div#header{
  background: #99CCCC;
  margin:5 0 10 0;
  height:40px;
  border: dotted 1px navy;
  padding-left:10px;
}
div.adminzone{
  margin:5 0 10 0;
  background: rgb(146,169,165);
  //width: 300px;
  padding: 7;
}

div.newsentry {
  margin-bottom: 10px;
}

body{
  background: #FFFFCC;
}

